<% provide :title, t(".title") %>
<h1><%= t ".heading_1" %></h1>
<p>
  <%= t ".paragraph_1" %>
  <%= link_to t(".railstutorial_name_url"), t("railstutorial_url") %>
  <%= t ".paragraph_2" %>
  <%= link_to t(".railstutorial_name_book_url"), t("railstutorial_book_url") %>
  <%= t ".paragraph_3" %>
  <%= link_to t(".screencasts_rails_name_url"), t("screencasts_rails_url") %>
  <%= t ".paragraph_4" %>
  <%= link_to t(".rubyonrails_name_url"), t("rubyonrails_url") %>
  <%= t ".paragraph_5" %>
</p>
