<% provide :title, t(".title") %>
<h1><%= t ".heading_1" %></h1>
<p>
  <%= t ".paragraph_1" %>
  <%= link_to t(".railstutorial_name_help_url"), t("railstutorial_help_url") %>
  <%= t ".paragraph_2" %>
  <%= link_to t(".railstutorial_name_book_url"), t("railstutorial_book_url") %>
</p>
